{% set route = app.request.get('_route') %}
{% set uri = app.request.requestUri %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('typeahead') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="../../">OSCAR</a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ route == 'default_index' ? 'active' }}"><a href="{{ path('default_index') }}" class="nav-link"><span class="fas fa-lg fa-home"></span> Accueil</a></li>
                <li class="nav-item {{ route == 'dispositif' ? 'active' }}"><a href="{{ path('dispositif_index') }}" class="nav-link"><span class="fas fa-lg fa-newspaper"></span> Dispositifs</a>
                <li class="nav-item {{ route == 'evolution' ? 'active' }}"><a href="{{ path('evolution_index') }}" class="nav-link"><span class="far fa-lg fa-calendar-alt"></span> Evolutions</a>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SAF') %} 
                    <li class="nav-item dropdown {{ 'admin' in uri ? 'active' }}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-lg fa-cog"></i>
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('utilisateur_index') }}" class="dropdown-item {{ 'utilisateur_' in route ? 'active' }}"><i class="fas fa-lg fa-fw fa-user"></i> Utilisateurs</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            </ul>

            <div class="navbar-nav navbar-right">
                <li class="nav-item {{ route == 'mailreporting' ? 'active' }}"><a href="#" data-href="{{ path('mailreporting_new') }}" class="nav-link" role="button" 
                    data-toggle="modal" data-target="#formModal" data-title="Générer un mail de reporting "><span class="fas fa-mail-bulk"></span> Mail de reporting</a>
                <li class="nav-item text-white"><i class="fas fa-spin fa-2x mt-1 mr-2 fa-sync" id="loader" style="display: none"></i></li>
                {% if is_granted('ROLE_SUPER_ADMIN') and is_granted('ROLE_PREVIOUS_ADMIN') == false %}
                    <li class="nav-item dropdown">
                        <form name="frm_impersonate" id="frm_impersonate" method="get" class="form-inline">
                            <input type="text" name="_switch_user" value="" class="form-control mr-sm-2" placeholder="En tant que" />
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                <i class="fas fa-user-secret" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.nom }} {{ app.user.prenom }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <a href="{{ path('default_index', {'_switch_user': '_exit'}) }}" class="dropdown-item"><span class="fas fa-fw fa-user-secret"></span> Annuler l'usurpation</a>
                        {% endif %}
                        <a href="{{ path('default_logout') }}" class="dropdown-item"><span class="fas fa-fw fa-sign-out-alt"></span> Déconnexion</a>
                    </div>
                </li>
            </div>
        </div>
    {% endif %}
</nav>

<main class="container body-container">
    {% block body %}
        {{ include('default/_flash_messages.html.twig') }}

        {% block main %}{% endblock %}
    {% endblock %}
</main>

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="text-center">
                <img src="{{ asset('images/logo-hdf.svg') }}" class="logo-footer" />
                <a href="http://www.hautsdefrance.fr/" class="link">Région Hauts-de-France</a>
                <span class="fas fa-tree fa-lg"></span> <em>N'imprimez que si nécessaire.</em>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
</body>
</html>
