<div class="messages mt-2">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ type }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <i class="fas fa-info-circle"></i>

                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
