<div class="mx-auto" style="width: 250px">
    <button class="btn btn-success"><i class="fas fa-check"></i> Sauvegarder</button>
    <a href="{{ path(return_path) }}" role="button" class="btn btn-outline-secondary"><i class="fas fa-sign-out-alt"></i> Annuler</a>
</div>

<blockquote class="bd-callout-warning font-italic">
    * Champs obligatoires
</blockquote>
