<h3><i><b><center style="margin-top:1em">Dispositifs actifs<br /><small>( 5 derniers modifiés )</small></center></b></i></h3>
{% if dispositifs %}
    <table class="table table-hover table-sm table-lightdark">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Plateforme</th>
            <th>Version</th>
            <th>Criticite</th>
            <th>Complexité</th>
            <th>Dernière modification</th>
        </tr>
        </thead>
        <tbody>
        {% for dispositif in dispositifs|slice(0, 5) %}
            <tr>
                <td><a href="/dispositif/{{dispositif.id}}"</a><strong><i>{{ dispositif }}</i></strong></a><br /></td>
                <td>{{ dispositif.plateforme }}</td>
                <td>{{ dispositif.versionProd }}</td>
                <td>
                    {% if dispositif.criticite == "Haute" %}
                        <i style ="color:red" class="fas fa-exclamation-triangle"></i>
                    {% elseif dispositif.criticite == "Normale" %}
                        <i style ="color:#CCCC00" class="fas fa-exclamation-triangle"></i>
                    {% else %}
                        <i class="far fa-thumbs-up"></i>
                    {% endif %}
                </td>
                <td>
                {% if dispositif.complexite == "Complexe" %}
                    Haute <i style ="color:red" class="far fa-angry"></i>
                {% elseif dispositif.criticite == "Moyen" %}
                    Normale <i class="far fa-meh"></i>
                {% else %}
                    Faible <i class="far fa-thumbs-up"></i>
                {% endif %}
                </td>
                <td>{{ dispositif.updatedAt|date('d/m/Y \à H:i') }}</td>
            </tr>
        </div>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning mt-3">
        <i class="fas fa-exclamation-triangle"></i> Aucun dispositif
    </div>
{% endif %}

<script type="text/javascript">
</script>