{% set bool = false %}
{% set evoStatutUnique = [] %}
{% set evolutionId = 1 %}
<h3><i><b><center>
{% if evo == 'actives' %}
    Evolutions actives
{% else %}
    Evolutions non commencées
{% endif %} <br /><small>( 5 dernières ajoutées )</small>
</center></b></i></h3>
<table style="margin-top:1em;" class="table table-hover table-sm table-lightdark">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Version</th>
            <th>Statut</th>
            <th>Priorité</th>
        </tr>
        </thead>
        <tbody>
        {% for evolutionStatut in evolutionStatuts|slice(0, 5) %}
                {% set bool = true %}
                <tr>
                    <td><a href="/evolution/{{evolutionStatut.evolution.id}}"</a><strong><i>{{ evolutionStatut.evolution }}</i></strong></a><br /></td>
                    <td>{{ evolutionStatut.evolution.version }}</td>
                        <td>{{ evolutionStatut.statut }}</td>
                    <td>
                        {% if evolutionStatut.evolution.priorite == "Urgent" %}
                            <i style ="color:red" class="fas fa-exclamation-triangle"></i>
                        {% elseif evolutionStatut.evolution.priorite == "Moyenne" %}
                            <i style ="color:#CCCC00" class="fas fa-exclamation-triangle"></i>
                        {% else %}
                            <i class="fas fa-thumbs-up"></i>
                        {% endif %}
                    </td>
                </tr>
            </div>
        {% endfor %}
    </tbody>
</table>
{% if bool == false %}
    <div class="alert alert-warning mt-3">
        <i class="fas fa-exclamation-triangle"></i> Aucune évolution
    </div>
{% endif %}