<div class="row">
    <div class="col-md-6">
        <blockquote class="bd-callout-warning font-italic">
            * Champs obligatoires<br>
        </blockquote>
    </div>
    
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-sign-out-alt" aria-hidden="true"></i> {{ button_cancel|default('Annuler') }}
        </button>
            <button type="submit" id="submitButton" class="{{ button_css|default("btn btn-success") }}">
                <i class="fas fa-save" aria-hidden="true"></i>{{ button_label|default('Sauvegarder') }}
            </button>
    </div>
</div>