<hr />
<div class="row">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-sign-out-alt" aria-hidden="true"></i> Fermer
        </button>
    </div>
</div>
