{% extends 'base.html.twig' %}

{% block main %}
    <h1>Echec de l'authentification</h1>

    <div class="jumbotron alert-danger">
        <p class="">Vous ne disposez pas des droits requis à l'utilisation de cet outil.</p>
    </div>
{% endblock %}
