{% extends 'base.html.twig' %}

{% block title %}:: Accueil{% endblock %}

{% block main %}
    <h2><center>Bienvenue sur l'{{app_name}} !</center></h2>

    <div id="default_dispositifs"></div>
    
    <div style="margin-top:2em;" class="row">
        <div class="col-md-6">
            <div id="default_evoNonCommencees"></div>
        </div>

        <div class="col-md-6">
            <div id="default_evoActives"></div>
        </div>
    </div>

    {{ include('default/_modal_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('typeahead') }}
    {{ encore_entry_link_tags('fullcalendar') }}
    {{ encore_entry_link_tags('form') }}

    <style>
        .fc-content {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('typeahead') }}
    {{ encore_entry_script_tags('fullcalendar') }}
    {{ encore_entry_script_tags('form') }}

    <script type="text/javascript">
            $.ajax($.extend({
                url : "{{ path('default_dispositifs') }}",
                type: 'POST',
                success: function(data) {
                    $("#default_dispositifs").html(data);
                }
            }, defaultAjaxOptions()));

            $.ajax($.extend({
                url : "{{ path('default_evoNonCommencees') }}",
                type: 'POST',
                success: function(data) {
                    $("#default_evoNonCommencees").html(data);
                }
            }, defaultAjaxOptions()));

            $.ajax($.extend({
                url : "{{ path('default_evoActives') }}",
                type: 'POST',
                success: function(data) {
                    $("#default_evoActives").html(data);
                }
            }, defaultAjaxOptions()));
    </script>
{% endblock %}
