{% extends 'base.html.twig' %}

{% block main %}
    <h1>Déconnexion</h1>

    <div class="jumbotron">
        <p>Vous êtes déconnecté(e).</p>

        <a class="btn btn-primary btn-lg" href="{{ path('default_index') }}"><i class="fas fa-lg fa-plug"></i> Vous connecter à nouveau</a>
    </div>
{% endblock %}
