{% extends 'base.html.twig' %}
{% macro displayTree(branches) %}
<ul>
    {% for noeud in branches %}
            <li> 
                {{ noeud['libelle'] }}
                {% import _self as recursive %}
                {{ recursive.displayTree(noeud['enfant'])}}
            </li>
        {% endfor %}
</ul>
{% endmacro %}

{% block main %}
    <h2 style="margin-bottom:12px;"><center>Voici l'architecture organisée des structures de Hauts-de-France</center></h2>
    
    {% import _self as tree %}
    {{ tree.displayTree(branches)}}
{% endblock %}