{% extends 'base.html.twig' %}

{% block main %}
    <h1>Historique des versions</h1>

    <div class="jumbotron">
        <h2>Version 1.0</h2>

        <ul>
            <li>Mise en ligne le </li>
        </ul>
    </div>
{% endblock %}
