{% if evolution.bowi %}
	<div class="row">
		<div class="col-md-6">
			<h4>
				<i>
					Evolution BOWI
				</i></h4>
		</div>
	</div>
{% endif %}

<div class="row">
	<div class="col-md-6">
		<h4>
			<i>
				<b>Statut actuel :
				</b>
			</i><br>{{ evoStatut.statut }}</h4>
	</div>
</div>

{% if evolution.description %}
	<b><i>Description : </i></b><br>{{ evolution.description }}
{% endif %}

<div class="row">
	<div class="col-md-3">
		<b>
			<i><br>Dispositif :
			</i>
		</b><br>{{ evolution.dispositif }}</div>

	<div class="col-md-2">
		<b>
			<i><br>Plateforme :
			</i>
		</b><br>{{ dispositif.plateforme }}</div>

	<div class="col-md-2">
		<b>
			<i><br>Version :
			</i>
		</b><br>{{ evolution.version }}</div>

	<div class="col-md-2">
		<b>
			<i><br>Priorité :
			</i>
		</b><br>
		{% if evolution.priorite == "Urgent" %}
			Urgent
			<i style="color:red" class="fas fa-exclamation-triangle"></i>
		{% elseif evolution.priorite == "Moyenne" %}
			Moyenne
			<i style="color:#CCCC00" class="fas fa-exclamation-triangle"></i>
		{% else %}
			Faible
			<i class="fas fa-thumbs-up"></i>
		{% endif %}
	</div>

	<div class="col-md-2">
		<b>
			<i><br>Complexité :
			</i>
		</b><br>
		{% if evolution.complexite == "Complexe" %}
			HAUTE
			<i style="color:red" class="far fa-angry"></i>
		{% elseif evolution.complexite == "Moyen" %}
			Normale
			<i class="far fa-meh"></i>
		{% else %}
			Faible
			<i class="far fa-thumbs-up"></i>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<b>
			<i>Affectation SROD :
			</i>
		</b><br>{{ evolution.srodUtilisateur }}</div>

	<div class="col-md-2">
		<b>
			<i>Affectation DSI :
			</i>
		</b><br>
		{% if not evolution.dsiUtilisateur %}
			<i>Aucun</i><br>
		{% else %}
			<i>{{ evolution.dsiUtilisateur }}</i>
		{% endif %}
	</div>

	<div class="col-md-2">
		<b>
			<i>Affectation BOWI :
			</i>
		</b><br>
		{% if not evolution.bowiUtilisateur %}
			<i>Aucun</i><br>
		{% else %}
			<i>{{ evolution.bowiUtilisateur }}</i>
		{% endif %}
	</div>


	<div class="col-md-3">
		<b>
			<i>Lien vers Cèdre :
			</i>
		</b><br>
		<a href="{{ dispositif.cedre }}">{{ dispositif.cedre }}</a>
	</div>
</div>