<div class="text-right">{{ include('evolution/_form_delete.html.twig') }}</div>

{{ include('evolution/_form.html.twig', {
    form: form,
    path: path('evolution_edit', {'id': evolution.id}),
    evolution: evolution,
    dispositif: dispositif,
    evoStatuts: evoStatuts,
    dispo: 0,
    button_label: ' Modifier',
}, with_context = false) }}