{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <i class="fas fa-lg fa-exclamation-triangle"></i>
        Votre saisie comporte des erreurs. Veuillez corriger.
    </div>
{% endif %}

{% for message in app.flashes('danger') %}
	<div class="alert alert-danger">
		<i class="fas fa-lg fa-exclamation-triangle"></i>
		{{ message }}
	</div>
{% endfor %}

{% if evolution != null %}
    <p><em>Evolution créée le {{ evolution.createdAt|date('d/m/Y') }}
        {{ evolution.updatedAt ? ', dernière mise à jour le ' ~ evolution.updatedAt|date('d/m/Y \à H:i') }}</p></em>
{% endif %}

<ul style="margin-top:1em;" class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="detailsP-tab" data-toggle="tab" href="#detailsP" role="tab" aria-controls="detailsP" aria-selected="true">Détails principaux</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" id="detailsPlanning-tab" data-toggle="tab" href="#detailsPlanning" role="tab" aria-controls="detailsPlanning" aria-selected="false">Planning</a>
	</li>
</ul>

<form name="frm_evolution" method="post" action="{{ path }}" data-async="true"
    {% if evolution == null and dispo != 1%}
        data-callback="{{ path('evolution_list', {'dispositif_id': dispositif.id} ) }}" data-list="evolution_list"
    {% elseif dispo != 1 and evolution != null %}
        data-callback="{{ path('evolution_listeDetails', {'id': evolution.id} ) }}" data-list="evolution_listeDetails"
    {% else %}
        data-callback="{{ path('evolution_listAll') }}" data-list="evolution_list"
    {% endif %}
    >
    {{ form_errors(form) }}

    <div class="tab-content p-2" id="myTabContent">
        <div class="tab-pane fade show active" id="detailsP" role="tabpanel" aria-labelledby="detailsP-tab">
    
            <div class="row">
                <div class="col-md-4">{{ form_row(form.libelle) }}</div>

                <div class="col-md-4">{{ form_row(form.srodUtilisateur) }}</div>

                {% if evolution == null %}
                    <div class="col-md-4">{{ form_row(form.evolutionStatuts) }}</div>
                {% else %}
                    <div class="col-md-4">{{ form_row(form.dsiUtilisateur) }}</div>
                {% endif %}
                 
            </div>

            <div class="row">
                <div class="col-md-4">{{ form_row(form.priorite) }}</div>
                
                <div class="col-md-4">{{ form_row(form.complexite) }}</div>

                <div class="col-md-4">{{ form_row(form.version) }}</div>
            </div>

            <div class="row">
                {% if evoStatuts is not defined %}
                    <div class="col-md-4">{{ form_row(form.dsiUtilisateur) }}</div>
                {% endif %}
                
                <div class="col-md-5">{{ form_row(form.bowiUtilisateur) }}</div>

                {% if dispositif is not defined  %}
                    <div class="col-md-3">{{ form_row(form.dispositif) }}</div>
                {% else %}
                    <div id="hideField">
                        <div class="col-md-3">{{ form_row(form.dispositif) }}</div>
                    </div>
                {% endif %}

                <div class="col-md-3">{{ form_row(form.bowi) }}</div>
            </div>

            <div class="row">
				<div class="col-md-12">{{ form_row(form.description) }}</div>
			</div>
        </div>

        <div class="tab-pane fade" id="detailsPlanning" role="tabpanel" aria-labelledby="detailsPlanning-tab">
                    <center>-------------------------- DATES SOUHAITEES --------------------------</center>
            <div class="row" style="margin-top:1em;">
                <div class="col-md-4">{{ form_row(form.livraisonRecetteSrodSouhaitee) }}</div>

                <div class="col-md-4">{{ form_row(form.livraisonRecetteDirectionSouhaitee) }}</div>

                <div class="col-md-4">{{ form_row(form.ouvertureProductionSouhaitee) }}</div>
            </div>

                   <center>-------------------------- DATES PREVISIONNELLES --------------------------</center>
            <div class="row" style="margin-top:1em;">
                <div class="col-md-4">{{ form_row(form.livraisonRecetteSrodPrevisionnelle) }}</div>

                <div class="col-md-4">{{ form_row(form.livraisonRecetteDirectionPrevisionnelle) }}</div>

                <div class="col-md-4">{{ form_row(form.ouvertureProductionPrevisionnelle) }}</div>
            </div>

                   <center>-------------------------- DATES REELLES --------------------------</center>
            <div class="row" style="margin-top:1em;">
                <div class="col-md-4">{{ form_row(form.livraisonRecetteSrod) }}</div>

                <div class="col-md-4">{{ form_row(form.livraisonRecetteDirection) }}</div>

                <div class="col-md-4">{{ form_row(form.ouvertureProduction) }}</div>
            </div>
        </div>
    </div>

    {# <div class="row">
        <div class="col-md-6">
            {{ form_row(form.donneeConcernee) }}
        </div>
    </div> #}

     {{ form_rest(form) }} 
    
    <hr />
    {{ include('default/_modal_form_footer.html.twig') }}
</form>

<script>
$('[data-toggle="datepicker"]').datepicker({
        format: "dd/mm/yyyy",
        language: "fr",
        todayHighlight: true,
        autoclose: true,
        clearBtn: true
    });
</script>