{% if evolutions|length != 0 %} 
     <p class="text-info mt-2">
        <i class="fas fa-list"></i>
         <strong>Evolutions {{ evolutions.getPaginationData.firstItemNumber }}
            à {{ evolutions.getPaginationData.lastItemNumber }}
            sur {{ evolutions.getTotalItemCount }}</strong>
    </p>

        <div class="nav justify-content-center text-center pb-2">
            {{ knp_pagination_render(evolutions) }}
        </div>

    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(evolutions, 'Evolution', 'e.libelle') }}</th>
            <th>{{ knp_pagination_sortable(evolutions, 'Version', 'e.version') }}</th>
            {% if dispo %}
                <th>{{ knp_pagination_sortable(evolutions, 'Dispositif', 'dis.libelle') }}</th>
            {% else %}
                <th>{{ knp_pagination_sortable(evolutions, 'Plateforme', 'dis.plateforme') }}</th>
            {% endif %}
            <th>{{ knp_pagination_sortable(evolutions, 'Statut', 'statut.libelle') }}</th>
            <th class="text-center">{{ knp_pagination_sortable(evolutions, 'Priorité', 'e.priorite') }}</th>
            <th>{{ knp_pagination_sortable(evolutions, 'Référent SROD', 's.nom') }} </th>
            <th>{{ knp_pagination_sortable(evolutions, 'Affectation DSI', 'd.nom') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for evolution in evolutions %}
                <tr>
                    <td>
                        <a href="{{ path('evolution_show', {'id': evolution.id}) }}"><strong>{{ evolution.libelle }}</strong></a><br />
                    </td>
                    <td>{{ evolution.version }}</td>
                    {% if dispo == false %}
                        <td>{{ evolution.dispositif.plateforme ? evolution.dispositif.plateforme : evolution.dispositif_plateforme }}</td>
                    {% else %}
                        <td>
                            {% if evolution.dispositif.id is defined %}
                                <a href="{{ path('dispositif_show', {'id': evolution.dispositif.id}) }}"><strong>{{ evolution.dispositif }}</strong></a><br />
                            {% else %}
                                <a href="{{ path('dispositif_show', {'id': evolution.dispositif_id}) }}"><strong>{{ evolution.dispositif_libelle }}</strong></a><br />
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        {{ evolution.evolutionStatuts[0].statut is defined ? evolution.evolutionStatuts[0].statut : evolution.statut}}
                    </td>
                    <td class="text-center">
                        {% if evolution.priorite == "Urgent" %}
                            <i style ="color:red" class="fas fa-exclamation-triangle"></i>
                        {% elseif evolution.priorite == "Moyenne" %}
                            <i style ="color:#CCCC00" class="fas fa-exclamation-triangle"></i>
                        {% else %}
                            <i class="fas fa-thumbs-up"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if evolution.srodUtilisateur_nom is defined %}
                            {{ [evolution.srodUtilisateur_nom, evolution.srodUtilisateur_prenom]|join(' ') }}
                        {% elseif not evolution.srodUtilisateur %}
                            <i>Aucun</i>
                        {% else %}
                            {{ evolution.srodUtilisateur}}
                        {% endif %}
                    </td>
                    <td>
                        {% if evolution.dsiUtilisateur_nom is defined %}
                            {{ [evolution.dsiUtilisateur_nom, evolution.dsiUtilisateur_prenom]|join(' ') }}
                        {% elseif not evolution.dsiUtilisateur %}
                            <i>Aucun</i>
                        {% else %}
                            {{ evolution.dsiUtilisateur}}
                        {% endif %}
                    </td>
                    {# <td>
                        {% if not evoStatut.evolution.bowiUtilisateur %} 
                            <i>Aucun</i> 
                        {% else %}
                            {{ evoStatut.evolution.bowiUtilisateur }}
                        {% endif %} #}
                </tr> 
        {% endfor %}
        </tbody>
    </table>

         <div class="nav justify-content-center text-center pb-2">
            {{ knp_pagination_render(evolutions) }}
        </div> 

        <script type="text/javascript">
            $(document).ready(function() {
                $('.page-link').click(function () {
                    $.ajax($.extend({
                        url: this.href,
                        type: 'POST',
                        data : $('#frm_filtre').serialize(),
                        success: function(data) {
                            $('#evolution_list').html(data);
                            window.scroll({
                                top: 0,
                                behavior: 'smooth'
                            });
                        }
                    }, defaultAjaxOptions()));

                    return false;
                });

                $('.sortable, .desc, .asc').click(function () {
                $.ajax($.extend({
                    url: this.href,
                    type: 'POST',
                    data : $('#frm_filtre').serialize(),
                    success: function(data) {
                        $('#evolution_list').html(data);
                    }
                }, defaultAjaxOptions()));

                return false;
                });
            });
        </script>
{% else %}
    <div class="alert alert-warning mt-3">
        <i class="fas fa-exclamation-triangle"></i> Aucune évolution
    </div>
{% endif %}