{% if dispositif is null %}
    {{ include('evolution/_form.html.twig', {
        form: form,
        path: path('evolution_new'),
        evolution: null,
        dispo: 1,
        button_label: ' Ajouter',
    }, with_context = false) }}
{% else %}
    {{ include('evolution/_form.html.twig', {
        form: form,
        path: path('evolution_new', {'dispositif_id': dispositif.id}),
        dispositif: dispositif,
        evolution: null,
        dispo: 0,
        button_label: ' Ajouter',
    }, with_context = false) }}
{% endif %}

