<center style="margin-bottom:1em;">---------------- DATES SOUHAITÉES ----------------</center>

<div class="row">
	<div class="col-md-3">
		<b>
			<i>Livraison en recette SROD :
			</i>
		</b><br>
		{% if ( evolution.livraisonRecetteSrodSouhaitee) %} 
			{{ evolution.livraisonRecetteDirectionSouhaitee|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 

	<div class="col-md-4">
		<b>
			<i>Livraison en recette Direction :
			</i>
		</b><br>
		{% if ( evolution.livraisonRecetteDirectionSouhaitee) %} 
			{{ evolution.livraisonRecetteDirectionSouhaitee|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 

	<div class="col-md-3">
		<b>
			<i>Ouverture en production :
			</i>
		</b>
		{% if ( evolution.ouvertureProductionSouhaitee) %} 
			{{ evolution.ouvertureProductionSouhaitee|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 
</div>

<center style="margin-bottom:1em;">---------------- DATES PRÉVISIONNELLES ----------------</center>

<div class="row">
	<div class="col-md-3">
		<b>
			<i>Livraison en recette SROD :
			</i>
		</b><br>
		{% if ( evolution.livraisonRecetteSrodPrevisionnelle) %} 
			{{ evolution.livraisonRecetteSrodPrevisionnelle|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 

	<div class="col-md-4">
		<b>
			<i>Livraison en recette Direction :
			</i>
		</b><br>
		{% if ( evolution.livraisonRecetteDirectionPrevisionnelle) %} 
			{{ evolution.livraisonRecetteDirectionPrevisionnelle|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 

	<div class="col-md-3">
		<b>
			<i>Ouverture en production :
			</i>
		</b>
		{% if ( evolution.ouvertureProductionPrevisionnelle) %} 
			{{ evolution.ouvertureProductionPrevisionnelle|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 
</div>

<center style="margin-bottom:1em;">---------------- DATES RÉELLES ----------------</center>

<div class="row">
	<div class="col-md-3">
		<b>
			<i>Livraison en recette SROD :
			</i>
		</b><br>
		{% if ( evolution.livraisonRecetteSrod) %} 
			{{ evolution.livraisonRecetteSrod|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 

	<div class="col-md-4">
		<b>
			<i>Livraison en recette Direction :
			</i>
		</b><br>
		{% if ( evolution.livraisonRecetteDirection) %} 
			{{ evolution.livraisonRecetteDirection|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 

	<div class="col-md-3">
		<b>
			<i>Ouverture en production :
			</i>
		</b>
		{% if ( evolution.ouvertureProduction) %} 
			{{ evolution.ouvertureProduction|date('d/m/Y') }}
		{% else %}
			Aucune date
		{% endif %}
	</div> 
</div>
