{% extends 'base.html.twig' %}

{% block title %}Evolutions{% endblock %}

{% block main %}
    <h1><i class="far fa-calendar-alt"></i> Liste de toutes les évolutions</h1>

<fieldset class="bd-callout bd-callout-info pt-0">
    <legend>Filtrer les évolutions</legend>

    <form id="frm_filtre" data-filtre="true" data-action="{{ path('evolution_listAll', {'page': 1}) }}" data-list="evolution_list" method="post">
        <div class="form-row">
            <div class="col-md-5">
                <input name="q" value="" class="form-control" placeholder="libelle, version, plateforme, priorite, dispositif, SROD/DSI" />
            </div>

            <div class="col-md-1">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </button>  
            </div>

            <div class="col-md-3">
                <label>Choisissez votre vue : </label>
                <select onchange="onChange()" name="vue" id="vueId">
                    <option value="aucune">aucune</option>
                    <option value="vueStatut">par Statut</option>
                </select>
            </div>

            <div class="col-md-3">
                <label id="labelValeur">Choisissez votre valeur : </label>
                    <div id ="vues">
                        <select onchange="onChangeValeur()" name="input" id="select"></select>
                        <input type="number" min="0" name="input" id="input"></input>
                    </div>
            </div>
        </div>
    </form>
</fieldset>

{% if is_granted("ROLE_CONTRIBUTEUR") %}
    <a href="#" data-href="{{ path('evolution_new', {'dispositif_id': 0}) }}" role="button" data-toggle="modal" data-target="#formModal"
                data-title="Ajouter une évolution" class="btn btn-primary btn-sm"><i
                            class="fas fa-plus" data-toggle="tooltip" title="Ajouter une évolution"></i> Ajouter une évolution</a>
    <a href="{{ path('evolution_excelAll') }}" class="btn btn-success btn-sm"><i class="fas fa-file-excel"></i> Exporter sous Excel</a>
{% endif %}

<div id="evolution_list"></div>

{{ include('default/_modal_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags('typeahead') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('form') }}
    <script>
        document.getElementById("labelValeur").style.display = "none";
        document.getElementById("select").style.display = "none";
        document.getElementById("input").style.display = "none";

        function onChange() {
            var vues = document.getElementById('vues');
            var vue = document.getElementById("vueId").value;
            var input = document.getElementById("input");
            var select = document.getElementById("select");
            var labelValeur = document.getElementById("labelValeur");
            var length = select.options.length;

            for (i = length-1; i >= 0; i--) {
                select.options[i] = null;
            }

            switch (vue) {
                case "aucune":
                    labelValeur.style.display = "none";
                    select.style.display = "none";
                    input.style.display = "none";

                    for (i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                break;

                case "vueStatut":
                    labelValeur.style.display = "block";
                    select.style.display = "block";
                    input.style.display = "none";
                    labelValeur.innerHTML = "Choisissez votre statut :";

                    var array = ["SROD - En spécification", "DSI - À prendre en charge", "DSI - En développement", "SROD - En recette",
                    "Direction - En recette", "Direction - Recette validée", "DSI - À livrer en production", "DSI - Livré en production", 
                    "SROD - Ouvert en production"];

                    for (var i = 0; i < array.length; i++) {
                        var option = document.createElement("option");
                        option.value = array[i];
                        option.text = array[i];
                        select.add(option);
                    }
                    vues.appendChild(select);
                break;

                case "vueReferentSROD":
                case "vueAffectationDSI":
                case "vuePriorite":
                    labelValeur.style.display = "block";
                    select.style.display = "none";
                    input.style.display = "block";
                    labelValeur.innerHTML = "Choisissez X jour(s) où le statut 'SROD - Ouvert en production' existe depuis X jour(s):";

                    vues.appendChild(input);
                break;
            }
        }

        function onChangeValeur() {
            d = document.getElementById("select").value;
        }
    </script>
{% endblock %}
