{% extends 'base.html.twig' %}

{% block title%}{{evolution.libelle}}{% endblock %}

{% block body %} 

    <h1><em style="font-size: 85%;">{{evolution.libelle}}</em></h1>
{% if is_granted('ROLE_CONTRIBUTEUR') %}
    <a href="#" data-href="{{ path('evolution_edit', {'id': evolution.id}) }}" role="button" data-toggle="modal" data-target="#formModal"
            data-title="Modifier l'évolution" class="btn btn-primary btn-sm"><i
                    class="fas fa-pencil-alt" data-toggle="tooltip" title="Modifier l'évolution"></i> Modifier l'évolution</a>

    <a href="#" data-href="{{ path('evolutionStatut_new', {'evolution_id': evolution.id}) }}" role="button" data-toggle="modal" data-target="#formModal"
            data-title="Modifier le statut" class="btn btn-success btn-sm"><i
                    class="fas fa-pencil-alt" data-toggle="tooltip" title="Modifier le statut"></i> Modifier le statut</a>
{% endif %}
                
<nav style="margin-top:1em;"aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dispositif_index')}}">Liste des dispositifs</a></li>
        <li class="breadcrumb-item"><a href="{{ path('dispositif_show', {'id': dispositif.id})}}">Détails du dispositif <i>{{dispositif}}</i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Détails de l'evolution</li>
    </ol>
</nav>

    <ul style="margin-top:1em;" class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Détails</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="planning-tab" data-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="false">Planning</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="commentaires-tab" data-toggle="tab" href="#commentaires" role="tab" aria-controls="commentaires" aria-selected="false">Commentaires</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">Historique</a>
        </li>
    </ul>
    
    <div class="tab-content p-2" id="myTabContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div id="evolution_listeDetails"></div>
        </div>

        <div class="tab-pane fade show active" id="planning" role="tabpanel" aria-labelledby="planning-tab">
            <div id="evolution_listePlanning"></div>
        </div>

        <div class="tab-pane fade" id="commentaires" role="tabpanel" aria-labelledby="commentaire-tab">
            <a style="margin: 1em 0 1em 0;" href="#" data-href="{{ path('commentaire_new', {'dispositif_id': 0, 'evolution_id': evolution.id}) }}" role="button" data-toggle="modal" data-target="#formModal"
                data-title="Ajouter un commentaire" class="btn btn-primary btn-sm"><i
                    class="fas fa-plus" data-toggle="tooltip" title="Ajouter un commentaire"></i> Ajouter un commentaire</a>
            <div id="commentaire_list"></div> 
        </div>

        <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
            <h2><center style="margin-bottom:1em;">Nombres de jours dans chaque statut</h2></center>
            <div id="evolutionStatut_list"></div> 
        </div>
    </div>

{{ include('default/_modal_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form') }}
    
    <script>
        $.ajax($.extend({
            url : "{{ path('evolution_listeDetails', {'id': evolution.id}) }}",
            type: 'POST',
            success: function(data) {
                $("#evolution_listeDetails").html(data);
            }
        }, defaultAjaxOptions()));

        $('.nav-tabs a').on('show.bs.tab', function (e) {
            window.location.hash = e.target.hash;
            window.scrollTo(0, 0);

            switch (e.target.hash) {
                case "#details":
                    $.ajax($.extend({
                        url : "{{ path('evolution_listeDetails', {'id': evolution.id}) }}",
                        type: 'POST',
                        success: function(data) {
                            $("#evolution_listeDetails").html(data);
                        }
                    }, defaultAjaxOptions()));
                break;

                case "#planning":
                    $.ajax($.extend({
                        url : "{{ path('evolution_listePlanning', {'id': evolution.id}) }}",
                        type: 'POST',
                        success: function(data) {
                            $("#evolution_listePlanning").html(data);
                        }
                    }, defaultAjaxOptions()));
                break;

                case "#commentaires":
                    $.ajax($.extend({
                        url : "{{ path('commentaire_list', {'dispositif_id': 0, 'evolution_id': evolution.id}) }}",
                        type: 'POST',
                        success: function(data) {
                            $("#commentaire_list").html(data);
                        }
                    }, defaultAjaxOptions()));
                break;

                case "#stats":
                    $.ajax($.extend({
                        url : "{{ path('evolutionStatut_list', {'evolution_id': evolution.id}) }}",
                        type: 'POST',
                        success: function(data) {
                            $("#evolutionStatut_list").html(data);
                        }
                    }, defaultAjaxOptions()));
                break;
            }
        });

        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
    
    </script>
{% endblock %}
