{% if not form.vars.valid %}
	<div class="alert alert-danger">
		<i class="fas fa-lg fa-exclamation-triangle"></i>
		Votre saisie comporte des erreurs. Veuillez corriger.
	</div>
{% endif %}

{% for message in app.flashes('warning') %}
	<div class="alert alert-warning">
		<i class="fas fa-lg fa-exclamation-triangle"></i>
		{{ message }}
	</div>
{% endfor %}

<form name="frm_evolutionStatut" method="post" action="{{ path }}" data-async="true" data-callback="{{ path('evolutionStatut_list', {'evolution_id': evolutionStatut.evolution.id} ) }}" data-list="evolutionStatut_list">
	{{ form_errors(form) }}

	<div class="row">
		<div class="col-md-5">
			{{ form_row(form.statut) }}
		</div>

		<div class="col-md-5">
			{{ form_row(form.createdAt) }}
		</div>
	</div>

	{{ form_rest(form) }}

	<hr/>
	{{ include('default/_modal_form_footer.html.twig') }}
</form>

<script>
$('[data-toggle="datepicker"]').datepicker({
        format: "dd/mm/yyyy",
        language: "fr",
        todayHighlight: true,
        autoclose: true,
        clearBtn: true
    });
</script>