{% set i = 0 %}
<table class="table table-hover table-sm table-lightdark">
	<thead>
		<tr>
			{% for evolutionStatut in evolutionStatuts %}
				{% if i == evolutionStatuts|length - 1 %}
					<th>
						<div class="alert alert-warning mt-3">
							<i class="fas fa-exclamation-triangle"></i>
							Statut en cours
						</div>
						{{evolutionStatut.statut}}
					</th>
				{% else %}
					<th>{{evolutionStatut.statut}}</th>
				{% endif %}
				{% set i = i + 1 %}
			{% endfor %}
		</tr>
		{% for nbJour in nbJours %}
			<th>{{nbJour}}
				jour{% if nbJour > 1 %}s{% endif %}
			</th>
		{% endfor %}
	</thead>
</table>