{% set i = 0 %}
{% set compteur = 0 %}
{% set nbJourInverse = [] %}

{% for nbJour in nbJours %}
	{% set nbJourInverse = nbJourInverse|merge({(compteur):nbJour}) %}
	{% set compteur = compteur + 1 %}
{% endfor %}

<table class="table table-hover table-sm table-lightdark">
	<thead>
	<tr>
		<th>Nom du statut</th>
		<th>Date de la création du statut</th>
		<th>Jour(s) passé(s) dans ce statut</th>
	</tr>
	{% for evolutionStatut in evolutionStatuts %}
		<tr>
			<th style="font-weight:normal;">
				{{evolutionStatut.statut}}
			</th>
			<th style="font-weight:normal;">
				{{evolutionStatut.createdAt|date('d/m/Y')}}
			</th>
			<th style="font-weight:normal;">
				{% if loop.index0 != 0 %}
					{{ nbJourInverse[i-1] }}
					jour{% if nbJourInverse[i-1] > 1 %}s{% endif %}
				{% else %}
					<i class="fas fa-exclamation-triangle"></i> Statut en cours
				{% endif %}
			</th>
		</tr>
		{% set i = i + 1 %}
		{% endfor %}
	</thead>
</table>