<div class="text-right">{{ include('admin/utilisateur/_form_delete.html.twig') }}</div>

{{ include('admin/utilisateur/_form.html.twig', {
    form: form,
    path: path('utilisateur_edit', {'id': utilisateur.id}),
    utilisateur: utilisateur,
    button_label: ' Modifier',
}, with_context = false) }}
