<form action="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}" method="post" data-confirmation="true" class="d-inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>

{{ include('default/_modal_delete.html.twig') }}
