{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <i class="fas fa-lg fa-exclamation-triangle"></i>
        Votre saisie comporte des erreurs. Veuillez corriger.
    </div>
{% endif %}

{% if utilisateur is defined %}
    <p><em>Compte créé le {{ utilisateur.createdAt|date('d/m/Y') }}
        {{ utilisateur.updatedAt ? ', dernière mise à jour le ' ~ utilisateur.updatedAt|date('d/m/Y \à H:i') }}
            {{ utilisateur.access[0] is defined ? ', dernière connexion le ' ~ utilisateur.access[0].date|date('d/m/Y \à H:i') }}</em></p>
{% endif %}

<form name="frm_utilisateur" method="post" action="{{ path }}" data-async="true"
      data-callback="{{ path('utilisateur_list') }}" data-list="utilisateur_list">
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-3">{{ form_row(form.civilite) }}</div>

        <div class="col-md-4">{{ form_row(form.nom) }}</div>

        <div class="col-md-4">{{ form_row(form.prenom) }}</div>
    </div>

    <div class="row">
        <div class="col-md-3">{{ form_row(form.login) }}</div>

        <div class="col-md-5">{{ form_row(form.email) }}</div>

        <div class="col-md-3">{{ form_row(form.telephone) }}</div>
    </div>

    {{ form_row(form.structure) }}

    <div class="row">
        <div class="col-md-3">{{ form_row(form.actif) }}</div>

        <div class="col-md-3">{{ form_row(form.role) }}</div>

        <div class="column">
            <div class="row-md-5">{{ form_row(form.referent_dsi) }}</div>
                        
            <div class="row-md-5">{{ form_row(form.srod) }}</div>

            <div class="row-md-5">{{ form_row(form.bowi) }}</div>
        </div>
    </div>

    {{ form_rest(form) }}

    <hr />
    {{ include('default/_modal_form_footer.html.twig') }}
</form>

{% block javascripts %}

    <script type="text/javascript">
            $('.selectpicker-hdf').selectpicker({
                liveSearch: true,
                noneSelectedText: '--',
                showTick: true
            });
    </script>
    
{% endblock %}
