{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <i class="fas fa-lg fa-exclamation-triangle"></i>
        Votre saisie comporte des erreurs. Veuillez corriger.
    </div>
{% endif %}

<form name="frm_utilisateur" method="post" action="{{ path('utilisateur_newad') }}" data-async="true"
      data-callback="{{ path('utilisateur_list') }}" data-list="utilisateur_list">
    {{ form_widget(form) }}

    <hr />
    {{ include('default/_modal_form_footer.html.twig') }}
</form>

<script type="text/javascript">
    $(document).ready(function() {
        typeahead_ad($('#utilisateur_ad_adUser'));

        $('#utilisateur_ad_adUser').on('typeahead:selected', function (object, data) {
            $('#utilisateur_ad_adUserHidden').val(data.login);
        });
    });
</script>
