{% if utilisateurs|length != 0 %}
    <p class="text-info mt-2">
        <i class="fas fa-list"></i>
        <strong>Utilisateurs {{ utilisateurs.getPaginationData.firstItemNumber }}
            à {{ utilisateurs.getPaginationData.lastItemNumber }}
            sur {{ utilisateurs.getTotalItemCount }}</strong>
    </p>

        <div class="nav justify-content-center text-center pb-2">
            {{ knp_pagination_render(utilisateurs) }}
        </div>

    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(utilisateurs, 'Utilisateur', 'u.nom') }}</th>
            <th>{{ knp_pagination_sortable(utilisateurs, 'Service', 'u.srod') }}</th>
            <th>{{ knp_pagination_sortable(utilisateurs, 'Email', 'u.email') }}</th>
            <th>{{ knp_pagination_sortable(utilisateurs, 'Dernière connexion', 'u.updatedAt') }}</th>
            <th class="text-center">{{ knp_pagination_sortable(utilisateurs, 'Actif', 'u.actif') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>
                    &bull; <a href="#" data-href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" data-toggle="modal"
                              data-target="#formModal" data-title="Modifier un compte utilisateur"><strong>{{ utilisateur }}</strong></a><br />
                    <em>{{ utilisateur.role }}</em>
                    <br>login : <em>{{ utilisateur.login }}</em>
                </td>
                <td>
                    {% if utilisateur.referent_dsi %} Service DSI {% endif %}
                    {% if utilisateur.srod %} Service SROD {% endif %}
                </td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.access|length > 0 ? utilisateur.access[0].date|date('d/m/Y \à H:i') }}</td>
                <td class="text-center">
                    {% if utilisateur.actif %}
                        <i class="fas fa-check text-success"></i>
                    {% else %}
                        <i class="fas fa-ban text-danger"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="nav justify-content-center text-center pb-2">
            {{ knp_pagination_render(utilisateurs) }}
        </div>

        <script type="text/javascript">

            $(document).ready(function() {
                // Navigation en AJAX : on récupère le lien href
                $('.page-link').click(function () {
                    $.ajax($.extend({
                        url: this.href,
                        type: 'POST',
                        data : $('#frm_filtre').serialize(),
                        success: function(data) {
                            $('#utilisateur_list').html(data);
                            window.scroll({
                                top: 0,
                                behavior: 'smooth'
                            });
                        }
                    }, defaultAjaxOptions()));

                    return false;
                    });

                $('.sortable, .desc, .asc').click(function () {
                $.ajax($.extend({
                    url: this.href,
                    type: 'POST',
                    data : $('#frm_filtre').serialize(),
                    success: function(data) {
                        $('#utilisateur_list').html(data);
                        window.scroll({
                            top: 0,
                            behavior: 'smooth'
                        });
                    }
                }, defaultAjaxOptions()));

                return false;
                });
            });
        </script>
{% else %}
    <div class="alert alert-warning mt-3">
        <i class="fas fa-exclamation-triangle"></i> Aucun utilisateur
    </div>
{% endif %}
