{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block main %}
    <h1><i class="fa fa-user"></i> Liste des comptes utilisateur</h1>

    <p>
        <a href="#" data-href="{{ path('utilisateur_new') }}" role="button" data-toggle="modal" data-target="#formModal"
           data-title="Ajouter un compte utilisateur" class="btn btn-primary btn-sm"><i
                    class="fas fa-plus" data-toggle="tooltip" title="Ajouter un compte utilisateur"></i> Ajouter un compte utilisateur</a>
        <a href="#" data-href="{{ path('utilisateur_newad') }}" role="button" data-toggle="modal" data-target="#formModal"
           data-title="Ajout rapide" role="button" class="btn btn-primary btn-sm"><i
                    class="fas fa-plus" data-toggle="tooltip" title="Ajouter un compte utilisateur"></i> Ajouter par recherche annuaire</a>
        <a href="{{ path('utilisateur_excel') }}" class="btn btn-success btn-sm"><i class="fas fa-file-excel"></i> Exporter sous Excel</a>
    </p>

    <fieldset class="bd-callout bd-callout-info pt-0">
        <legend>Filtres</legend>

        <form id="frm_filtre" data-filtre="true" data-action="{{ path('utilisateur_list', {'page': 1}) }}" data-list="utilisateur_list" method="post">
            <div class="form-row">
                <div class="col-md-4">
                    <input name="q" value="" class="form-control" placeholder="Nom, prénom, rôle, email, téléphone" />
                </div>

                <div class="col-md-1">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </fieldset>
    
    <div id="utilisateur_list"></div>

    {{ include('default/_modal_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('typeahead') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('form') }}
{% endblock %}
