{% extends 'base.html.twig' %}

{% block title %} :: Erreur{% endblock %}

{% block main %}
    <h1>Une erreur est survenue</h1>

    <p>Le serveur a retourn&eacute; une erreur "{{ status_code }} {{ status_text }}".</p>

    <div class="mt-5 text-danger text-center">
        <i class="fas fa-10x fa-heart-broken"></i>
    </div>
{% endblock %}
