{% extends 'base.html.twig' %}

{% block title %} :: Erreur 404{% endblock %}

{% block main %}
    <h1>Vous ne disposez pas des autorisations requises</h1>

    <div class="mt-5 text-danger text-center">
        <i class="fas fa-10x fa-ban"></i>
    </div>
{% endblock %}
