{% extends 'base.html.twig' %}

{% block title %} :: Erreur 404{% endblock %}

{% block main %}
    <h1>Page introuvable</h1>

    <p>La page que vous souhaitez afficher n'existe pas ou a été supprimée.</p>

    <div class="mt-5 text-danger text-center">
        <i class="fas fa-10x fa-question"></i>
    </div>
{% endblock %}
