{% extends 'bootstrap_4_layout.html.twig' %}

{# Errors #}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="{% if form is not rootform %}invalid-feedback d-block{% else %}alert alert-danger{% endif %}">
            <ul class="list-unstyled mb-0">
                {%- for error in errors -%}
                    <li><span class="fa fa-exclamation-triangle"></span> <span class="form-error-message">{{ error.message }}</span></li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}