{% if dispositif.description %}
    <b><i>Description : </i></b><br>{{ dispositif.description }}
{% endif %}

    <div class="row">
        <div class="col-md-3"><b><i><br>Direction propriétaire : </i></b><br>{{ dispositif.structure }}</div>

        <div class="col-md-2"><b><i><br>Etat : </i></b><br>
                    {% if dispositif.etat %}
                        ACTIF  <i class="fas fa-check text-success"></i>
                    {% else %}
                        NON ACTIF <i class="fas fa-ban text-danger"></i>
                    {% endif %}
        </div>

        <div class="col-md-2"><b><i><br>Plateforme : </i></b><br>{{ dispositif.plateforme }}</div>

        <div class="col-md-2"><b><i><br>Criticité : </i></b><br>
            {% if dispositif.criticite == "Haute" %}
                HAUTE <i style ="color:red" class="fas fa-exclamation-triangle"></i>
            {% elseif dispositif.criticite == "Normale" %}
                Normale <i style ="color:#CCCC00" class="fas fa-exclamation-triangle"></i>
            {% else %}
                Faible <i class="far fa-thumbs-up"></i>
            {% endif %}
        </div>

        <div class="col-md-2"><b><i><br>Complexité : </i></b><br>
            {% if dispositif.complexite == "Complexe" %}
                HAUTE <i style ="color:red" class="far fa-angry"></i>
            {% elseif dispositif.complexite == "Moyen" %}
                Normale <i class="far fa-meh"></i>
            {% else %}
                Simple <i class="far fa-thumbs-up"></i>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3"><b><i>Référent SROD : </i></b><br>{{ dispositif.srodUtilisateur }}</div>

        <div class="col-md-2"><b><i>Lien vers Cèdre : </i></b><br>
            <a href="{{ dispositif.cedre }}">{{ dispositif.cedre }}</a>
        </div>

        <div class="col-md-2"><b><i>Version de prod : </i></b><br>
            {{ dispositif.versionProd }}
        </div>

        <div class="col-md-3"><b><i>Eligibilité reversibilitée : </i></b><br>
            {% if dispositif.eligibleReversibilite %}
                OUI <i class="fas fa-check text-success"></i>
            {% else %}
                NON  <i class="fas fa-ban text-danger"></i>
            {% endif %}
        </div>
    </div>

    <center style="margin-bottom:1em;">------------------------------------------------------------ Détails techniques --------------------------------------------------------------</center>

    <div class="row">
        <div class="col-md-6"><b><i>Référentiels : </i></b><br>
            {% if not dispositif.referentiels %} Aucun {% else %} {{ dispositif.referentiels }} {% endif %}
        </div>

        <div class="col-md-6"><b><i>Domaines des bindings : </i></b><br>
            {% if not dispositif.domaineBindings %} Aucun {% else %} {{ dispositif.domaineBindings }} {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"><b><i>Règles métiers : </i></b><br>
            {% if not dispositif.reglesMetier %} Aucun{% else %} {{ dispositif.reglesMetier }} {% endif %}
        </div>

        <div class="col-md-6"><b><i>JavaScript partagés : </i></b><br>
            {% if not dispositif.javascriptPartages %} Aucun {% else %} {{ dispositif.javascriptPartages }} {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6"><b><i>Styles partagés </i></b><br>
            {% if not dispositif.stylesPartages %} Aucun {% else %} {{ dispositif.stylesPartages }} {% endif %}
        </div>

        <div class="col-md-6"><b><i>formulaires modèles : </i></b><br>
            {% if not dispositif.formulairesModeles %} Aucun {% else %} {{ dispositif.formulairesModeles }} {% endif %}
        </div>
    </div>