<div class="text-right">{{ include('dispositif/_form_delete.html.twig') }}</div>

{{ include('dispositif/_form.html.twig', {
    form: form,
    path: path('dispositif_edit', {'id': dispositif.id}),
    dispositif: dispositif,
    button_label: ' Modifier',
}, with_context = false) }}
