{% if is_granted("ROLE_ADMIN") %}
<form action="{{ path('dispositif_delete', {'id': dispositif.id}) }}" method="post" data-confirmation="true" class="d-inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash" aria-hidden="true"></i> Supprimer</button>
</form>
{% endif %}
{{ include('default/_modal_delete.html.twig') }}
