{% if not form.vars.valid %}
	<div class="alert alert-danger">
		<i class="fas fa-lg fa-exclamation-triangle"></i>
		Votre saisie comporte des erreurs. Veuillez corriger.
	</div>
{% endif %}

{% if dispositif != null %}
    <p><em>Dispositif créé le {{ dispositif.createdAt|date('d/m/Y') }}
        {{ dispositif.updatedAt ? ', dernière mise à jour le ' ~ dispositif.updatedAt|date('d/m/Y \à H:i') }}</p></em>
{% endif %}

<ul style="margin-top:1em;" class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="detailsP-tab" data-toggle="tab" href="#detailsP" role="tab" aria-controls="detailsP" aria-selected="true">Détails principaux</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" id="detailsT-tab" data-toggle="tab" href="#detailsT" role="tab" aria-controls="detailsT" aria-selected="false">Détails techniques</a>
	</li>
</ul>

<form name="frm_dispositif" method="post" action="{{ path }}" data-async="true"
	{% if dispositif != null %}
		data-callback="{{ path('dispositif_listeDetails', {'id' : dispositif.id }) }}" data-list="dispositif_listeDetails"
	{% else %}
		data-callback="{{ path('dispositif_list') }}" data-list="dispositif_list"
	{% endif %}
	>
	{{ form_errors(form) }}
	
	<div class="tab-content p-2" id="myTabContent">
        <div class="tab-pane fade show active" id="detailsP" role="tabpanel" aria-labelledby="detailsP-tab">
            <div class="row">
				<div class="col-md-3">{{ form_row(form.libelle) }}</div>

				<div class="col-md-9">{{ form_row(form.structure)}}</div>
			</div>
		
			<div class="row">
				<div class="col-md-4">{{ form_row(form.plateforme) }}</div>

				<div class="col-md-4">{{ form_row(form.criticite) }}</div>

				<div class="col-md-4">{{ form_row(form.complexite) }}</div>
			</div>

			<div class="row">
				<div class="col-md-4">{{ form_row(form.srodUtilisateur) }}</div>

				<div class="col-md-4">{{ form_row(form.versionProd) }}</div>

				<div class="col-md-4">{{ form_row(form.eligibleReversibilite) }}</div>
			</div>

			<div class="row">
				<div class="col-md-4">{{ form_row(form.cedre) }}</div>

				<div class="col-md-2">{{ form_row(form.etat) }}</div>

				<div class="col-md-2">{{ form_row(form.cp) }}</div>
			</div>

			<div class="row">
				<div class="col-md-12">{{ form_row(form.description) }}</div>
			</div>
        </div>

		<div class="tab-pane fade" id="detailsT" role="tabpanel" aria-labelledby="detailsT-tab">
			<div class="row">
				<div class="col-md-6">{{ form_row(form.referentiels) }}</div>

				<div class="col-md-6">{{ form_row(form.domaineBindings) }}</div>
			</div>

			<div class="row">
				<div class="col-md-6">{{ form_row(form.reglesMetier) }}</div>

				<div class="col-md-6">{{ form_row(form.javascriptPartages) }}</div>
			</div>

			<div class="row">
				<div class="col-md-6">{{ form_row(form.stylesPartages) }}</div>

				<div class="col-md-6">{{ form_row(form.formulairesModeles) }}</div>
			</div>
		</div>
	</div>
	
	{{ form_rest(form) }}

	<hr/>
	{{ include('default/_modal_form_footer.html.twig') }}
</form>

{% block javascripts %}

	<script type="text/javascript">
		$('.selectpicker-hdf').selectpicker({liveSearch: true, noneSelectedText: '--', showTick: true});
	</script>

{% endblock %}
