{% if dispositifs|length != 0 %}
    <p class="text-info mt-2">
        <i class="fas fa-list"></i>
        <strong>Dispositifs {{ dispositifs.getPaginationData.firstItemNumber }}
            à {{ dispositifs.getPaginationData.lastItemNumber }}
            sur {{ dispositifs.getTotalItemCount }}</strong>
    </p>

        <div class="nav justify-content-center text-center pb-2">
            {{ knp_pagination_render(dispositifs) }}
        </div>

    <table class="table table-striped table-hover table-sm" id="tableDispositif">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(dispositifs, 'Dispositif', 'd.libelle') }}</th>
            <th>{{ knp_pagination_sortable(dispositifs, 'Direction propriétaire', 'r.libelle') }}</th>
            <th>{{ knp_pagination_sortable(dispositifs, 'Plateforme', 'd.plateforme') }}</th>
            <th>{{ knp_pagination_sortable(dispositifs, 'Version de prod', 'd.versionProd') }}</th>
            <th class="text-center">{{ knp_pagination_sortable(dispositifs, 'Criticite', 'd.criticite') }}</th>
            <th class="text-center">{{ knp_pagination_sortable(dispositifs, 'Actif', 'd.etat') }}</th>
            <th>{{ knp_pagination_sortable(dispositifs, 'Dernière modification', 'd.updatedAt') }}</th>
        </tr>
        </thead>    
        <tbody>
        {% for dispositif in dispositifs %}
            <tr>
                <td>
                    <a href="{{ path('dispositif_show', {'id' : dispositif.id}) }}"</a><strong>{{ dispositif }}</strong></a><br />
                </td>
                <td>{{ dispositif.structure }}</td>
                <td>{{ dispositif.plateforme }}</td>
                <td>{{ dispositif.versionProd }}</td>
                <td class="text-center">
                    {% if dispositif.criticite == "Haute" %}
                        <i style ="color:red" class="fas fa-exclamation-triangle"></i>
                    {% elseif dispositif.criticite == "Normale" %}
                        <i style ="color:#CCCC00" class="fas fa-exclamation-triangle"></i>
                    {% else %}
                        <i style ="color:green" class="fas fa-exclamation-triangle"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if dispositif.etat %}
                        <i class="fas fa-check text-success"></i>
                    {% else %}
                        <i class="fas fa-ban text-danger"></i>
                    {% endif %}
                </td>
                <td>{{ dispositif.updatedAt|date('d/m/Y \à H:i') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="nav justify-content-center text-center pb-2">
            {{ knp_pagination_render(dispositifs) }}
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('.page-link').click(function () {
                    $.ajax($.extend({
                        url: this.href,
                        type: 'POST',
                        data : $('#frm_filtre').serialize(),
                        success: function(data) {
                            $('#dispositif_list').html(data);
                            window.scroll({
                                top: 0,
                                behavior: 'smooth'
                            });
                        }
                    }, defaultAjaxOptions()));

                    return false;
                });

                $('.sortable, .desc, .asc').click(function () {
                $.ajax($.extend({
                    url: this.href,
                    type: 'POST',
                    data : $('#frm_filtre').serialize(),
                    success: function(data) {
                        $('#dispositif_list').html(data);
                    }
                }, defaultAjaxOptions()));

                return false;
                });
            });
        </script>
{% else %}
    <div class="alert alert-warning mt-3">
        <i class="fas fa-exclamation-triangle"></i> Aucun dispositif
    </div>
{% endif %}