<select id="{{ prefixe }}_gestionnaireTechnique" name="{{ prefixe }}[gestionnaireTechnique]" class="form-control">
    {% for dispositif in dispositifs %}
        <option value="{{ dispositif.id }}">{{ dispositif }}</option>
    {% endfor %}
</select>
