{% extends 'base.html.twig' %}

{% block title %}Dispositifs{% endblock %}

{% block main %}
{% set vue = '' %}

<h1><i class="fas fa-newspaper"></i> Liste des dispositifs</h1>
<p>
    {% if is_granted('ROLE_CONTRIBUTEUR') or is_granted('ROLE_ADMINISTRATEUR') %}
        <a href="#" data-href="{{ path('dispositif_new') }}" role="button" data-toggle="modal" data-target="#formModal"
            data-title="Ajouter un dispositif" class="btn btn-primary btn-sm"><i
            class="fas fa-plus" data-toggle="tooltip" title="Ajouter un dispositif"></i> Ajouter un dispositif</a>
        <a href="{{ path('dispositif_excel') }}" class="btn btn-success btn-sm"><i class="fas fa-file-excel"></i> Exporter sous Excel</a>
    {% endif %}
</p>

<nav style="margin-top:1em;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Liste des dispositifs</li>
    </ol>
</nav>

    <fieldset class="bd-callout bd-callout-info pt-0">
        <legend>Filtrer les dispositifs</legend>

        <form id="frm_filtre" data-filtre="true" data-action="{{ path('dispositif_list', {'page': 1}) }}" data-list="dispositif_list" method="post">
            <div class="form-row">
                <div class="col-md-4">
                    <input name="q" value="" class="form-control" placeholder="Libellé ou un de ses détails techniques" />
                </div>

                <div class="col-md-1">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </button>  
                </div>

                <div class="col-md-3">
                    <label>Choisissez votre vue : </label>
                    <select onchange="onChange()" name="vue" id="vueId">
                        <option value="aucune">aucune</option>
                        <option value="vueDirection">par Direction</option>
                        <option value="vuePlateforme">par Plateforme</option>
                        <option value="vueEtat">par Etat</option>
                        <option value="vueCriticite">par Criticite</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label id="labelValeur">Choisissez votre valeur : </label>
                    <div id ="vues">
                        <select onchange="onChangeValeur()" name="input" id="select"></select>
                        <input name="input" id="input"></input>
                    </div>
                </div>
                
            </div>
            <div id="structure">
                {{ form_row(form.structure) }}
            </div>
        </form>
    </fieldset>

    <div id="dispositif_list"></div>

    {{ include('default/_modal_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags('typeahead') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('form') }}

    <script>
        document.getElementById("labelValeur").style.display = "none";
        document.getElementById("input").style.display = "none";
        document.getElementById("select").style.display = "none";
        document.getElementById("structure").style.display = "none";

        function onChange() {
            var vues = document.getElementById('vues');
            var vue = document.getElementById("vueId").value;
            var input = document.getElementById("input");
            var labelValeur = document.getElementById("labelValeur");
            var select = document.getElementById("select");
            var structure = document.getElementById("structure");
            var length = select.options.length;

            switch (vue) {
                case "aucune":
                    labelValeur.style.display = "none";
                    input.style.display = "none";
                    select.style.display = "none";
                    structure.style.display = "none";

                    
                    for (i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                break;

                case "vueDirection":
                    labelValeur.style.display = "none";
                    input.style.display = "none";
                    structure.style.display = "block";
                    select.style.display = "none";
                break;

                case "vuePlateforme":
                    labelValeur.style.display = "block";
                    structure.style.display = "none";
                    input.style.display = "none";
                    select.style.display = "block";
                    labelValeur.innerHTML = "Choisissez votre plateforme :";

                    var array = ["AEL", "AI"];

                    for (i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }

                    for (var i = 0; i < array.length; i++) {
                        var option = document.createElement("option");
                        option.value = array[i];
                        option.text = array[i];
                        select.add(option);
                    }
                    vues.appendChild(select);
                break;

                case "vueEtat":
                    labelValeur.style.display = "block";
                    select.style.display = "block";
                    input.style.display = "none";
                    structure.style.display = "none";
                    labelValeur.innerHTML = "Choisissez l'état du dispositif :";

                    var array = [1, 0];

                    for (i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                    
                    for (var i = 0; i < array.length; i++) {
                        var option = document.createElement("option");
                        option.value = array[i];
                        if (option.value == 1) {
                            option.text = "Actif";
                        } else { 
                            option.text = "Non actif"; 
                        }
                        select.add(option);
                    }
                    vues.appendChild(select);
                break;

                case "vueCriticite":
                    labelValeur.style.display = "block";
                    select.style.display = "block";
                    structure.style.display = "none";
                    input.style.display = "none";
                    labelValeur.innerHTML = "Choisissez la criticité du dispositif :";

                    var array = ["Haute", "Normale", "Faible"];

                    for (i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                    
                    for (var i = 0; i < array.length; i++) {
                        var option = document.createElement("option");
                        option.value = array[i];
                        option.text = array[i];
                        select.add(option);
                    }
                    vues.appendChild(select);
                break;
            }
        }

        function onChangeValeur() {
            d = document.getElementById("select").value;
        }
    </script>
{% endblock %}
