{% extends 'base.html.twig' %}

{% block title%}{{dispositif.libelle}}{% endblock %}

{% block body %} 

    <h1><em style="font-size: 85%;">{{dispositif.libelle}}</em></h1>
    {% if is_granted('ROLE_CONTRIBUTEUR') %}
        <a id ="retourButton" href="#" data-href="{{ path('dispositif_edit', {'id': dispositif.id}) }}" role="button" data-toggle="modal" data-target="#formModal"
            data-title="Modifier le dispositif" class="btn btn-success btn-sm"><i
                        class="fas fa-pencil-alt" data-toggle="tooltip" title="Modifier le dispositif"></i> Modifier le dispositif</a>
    {% endif %}

<nav style="margin-top:1em;" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dispositif_index')}}">Liste des dispositifs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Détails du dispositif</a></li>
    </ol>
</nav>

    <ul style="margin-top:1em;" class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Détails</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="listeEvolution-tab" data-toggle="tab" href="#listeEvolution" role="tab" aria-controls="listeEvolution" aria-selected="false">Liste des évolutions</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="commentaires-tab" data-toggle="tab" href="#commentaires" role="tab" aria-controls="commentaires" aria-selected="false">Commentaires</a>
        </li>
    </ul>

    <div class="tab-content p-2" id="myTabContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div id="dispositif_listeDetails"></div>
        </div>

        <div class="tab-pane fade" id="listeEvolution" role="tabpanel" aria-labelledby="listeEvolution-tab">
            <fieldset class="bd-callout bd-callout-info pt-0">
                <legend>Filtrer les évolutions</legend>

                <form id="frm_filtre" data-filtre="true" data-action="{{ path('evolution_list', {'dispositif_id': dispositif.id, 'page': 1}) }}" data-list="evolution_list" method="post">
                    <div class="form-row">
                        <div class="col-md-4">
                            <input name="q" value="" class="form-control" placeholder="libelle, version, plateforme, priorite, SROD/DSI" />
                        </div>

                        <div class="col-md-1">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </button>
                        </div>

                        <div class="col-md-3">
                            <label>Choisissez votre vue : </label>
                            <select onchange="onChange()" name="vue" id="vueId">
                                <option value="aucune">aucune</option>
                                <option value="vueStatut">par Statut</option>
                                <option value="vuePriorite">par Priorite</option>
                                <option value="vueKanban">vue Kanban</option>
                                <option value="vueAffectationDSI">par Affectation DSI</option>
                                <option value="vueReferentSROD">par Référent SROD</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <label id="labelValeur">Choisissez votre valeur : </label>
                                <div id ="vues">
                                    <select onchange="onChangeValeur()" name="input" id="select"></select>
                                    <input type="number" min="0" name="input" id="input"></input>
                                </div>
                        </div>
                    </div>
                </form>
            </fieldset>

            {% if is_granted('ROLE_CONTRIBUTEUR') %}
                <a href="#" data-href="{{ path('evolution_new', {'dispositif_id': dispositif.id}) }}" role="button" data-toggle="modal" data-target="#formModal"
                data-title="Ajouter une évolution" class="btn btn-primary btn-sm"><i
                            class="fas fa-plus" data-toggle="tooltip" title="Ajouter une évolution"></i> Ajouter une évolution</a>
                            <a href="{{ path('evolution_excelDispo', {'dispositif_id': dispositif.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-file-excel"></i> Exporter sous Excel</a>
            {% endif %}

            <div id="evolution_list"></div>
        </div>

        <div class="tab-pane fade" id="commentaires" role="tabpanel" aria-labelledby="commentaire-tab">

        <a style="margin: 1em 0 1em 0;" href="#" data-href="{{ path('commentaire_new', {'dispositif_id': dispositif.id, 'evolution_id': 0}) }}" role="button" data-toggle="modal" data-target="#formModal"
            data-title="Ajouter un commentaire" class="btn btn-primary btn-sm"><i
                        class="fas fa-plus" data-toggle="tooltip" title="Ajouter un commentaire"></i> Ajouter un commentaire</a>

             <div id="commentaire_list"></div> 
    </div>

    

{{ include('default/_modal_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('form') }}

    <script type="text/javascript">
        $.ajax($.extend({
            url : "{{ path('dispositif_listeDetails', {'id': dispositif.id}) }}",
            type: 'POST',
            success: function(data) {
                $("#dispositif_listeDetails").html(data);
            }
        }, defaultAjaxOptions()));

        $('.nav-tabs a').on('show.bs.tab', function (e) {
            window.location.hash = e.target.hash;
            window.scrollTo(0, 0);

            switch (e.target.hash) {
                case "#listeEvolution":
                    $.ajax($.extend({
                        url : "{{ path('evolution_list', {'dispositif_id': dispositif.id}) }}",
                        type: 'POST',
                        success: function(data) {
                            $("#evolution_list").html(data);
                        }
                    }, defaultAjaxOptions()));
                break;

                case "#commentaires":
                    $.ajax($.extend({
                        url : "{{ path('commentaire_list', {'dispositif_id': dispositif.id, 'evolution_id': 0}) }}",
                        type: 'POST',
                        success: function(data) {
                            $("#commentaire_list").html(data);
                        }
                    }, defaultAjaxOptions()));
                break;

                case "#details":
                    $.ajax($.extend({
                        url : "{{ path('dispositif_listeDetails', {'id': dispositif.id}) }}",
                        type: 'POST',
                        success: function(data) {
                            $("#dispositif_listeDetails").html(data);
                        }
                    }, defaultAjaxOptions()));
                break;
            }
        });

        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }

        document.getElementById("labelValeur").style.display = "none";
        document.getElementById("select").style.display = "none";
        document.getElementById("input").style.display = "none";

        function onChange() {
            var vues = document.getElementById('vues');
            var vue = document.getElementById("vueId").value;
            var input = document.getElementById("input");
            var select = document.getElementById("select");
            var labelValeur = document.getElementById("labelValeur");
            var length = select.options.length;
                

            for (i = length-1; i >= 0; i--) {
                select.options[i] = null;
            }

            switch (vue) {
                case "aucune":
                    document.getElementById("labelValeur").style.display = "none";
                    select.style.display = "none";
                    document.getElementById("input").style.display = "none";

                    var length = select.options.length;
                    for (i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                break;

                case "vueStatut":
                    labelValeur.style.display = "block";
                    select.style.display = "block";
                    input.style.display = "none";
                    labelValeur.innerHTML = "Choisissez votre statut :";

                    var array = ["SROD - En spécification", "DSI - À prendre en charge", "DSI - En développement", "SROD - En recette",
                    "Direction - En recette", "Direction - Recette validée", "DSI - À livrer en production", "DSI - Livré en production", "SROD - Ouvert en production"];

                    for (var i = 0; i < array.length; i++) {
                        var option = document.createElement("option");
                        option.value = array[i];
                        option.text = array[i];
                        select.add(option);
                    }
                    vues.appendChild(select);
                break;

                case "vueReferentSROD":
                case "vueAffectationDSI":
                case "vuePriorite":
                    labelValeur.style.display = "block";
                    select.style.display = "none";
                    input.style.display = "block";
                    labelValeur.innerHTML = "Choisissez X jour(s) où le statut 'SROD - Ouvert en production' existe depuis X jour(s):";

                    vues.appendChild(input);
                break;
            }
        }

        function onChangeValeur() {
            d = document.getElementById("select").value;
        }
    </script>
{% endblock %}
