{% for message in app.flashes('warning') %}
	<div class="alert alert-warning">
		<i class="fas fa-lg fa-exclamation-triangle"></i>
		{{ message }}
	</div>
{% endfor %}

<form name="frm_mailAvantVerif" method="post" action="{{ path }}" data-async="true">

    {{ form_errors(form2) }}
            <div class="row">
                <div class="col-md-12">{{ form_row(form2.donnee)}}</div>
            </div>
            
     {{ form_rest(form2) }} 
    <hr />
    {{ include('default/_modal_form_footer.html.twig') }}
</form>