{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <i class="fas fa-lg fa-exclamation-triangle"></i>
        Votre saisie comporte des erreurs. Veuillez corriger.
    </div>
{% endif %}

{% for message in app.flashes('warning') %}
	<div class="alert alert-warning">
		<i class="fas fa-lg fa-exclamation-triangle"></i>
		{{ message }}
	</div>
{% endfor %}

<form name="frm_mailreporting" method="post" action="{{ path }}" data-async="true">
    {{ form_errors(form) }}
    
    <div class="row">
        <div class="col-md-4">{{ form_row(form.delaiStatut) }}</div>

        <div class="col-md-4">{{ form_row(form.objet) }}</div>

        <div class="col-md-4">{{ form_row(form.dateEtatLieux) }}</div>
    </div>

    <div class="row">
        <div class="col-md-4">{{ form_row(form.nombreCommentaires) }}</div>

        <div class="col-md-8">{{ form_row(form.destinatairesEnPlus) }}</div>
    </div>

    <div class="row">
        <div class="col-md-12">{{ form_row(form.destinataires) }}</div>
    </div>

    {{ form_rest(form) }}

    <hr />
    {{ include('default/_modal_form_footer.html.twig') }}
</form>

<script>
    $('[data-toggle="datepicker"]').datepicker({
            format: "dd/mm/yyyy",
            language: "fr",
            todayHighlight: true,
            autoclose: true,
            clearBtn: true
        });

    $('.selectpicker-hdf').selectpicker({
        liveSearch: true,
        noneSelectedText: '--',
        showTick: true
    });
</script>