{% extends 'base.html.twig' %}

{% block title %}Mail de reporting{% endblock %}

{% block main %}
    <h1><i class="fas fa-mail-bulk"></i> Mail reporting</h1>

    <a href="#" data-href="{{ path('mailreporting_new') }}" role="button" data-toggle="modal" data-target="#formModal"
            data-title="Ecrire un mail" class="btn btn-primary btn-sm"><i
            class="fas fa-plus" data-toggle="tooltip" title="Ecrire un mail de reporting"></i> Ecrire un mail</a>

            {# <div id="mailreporting_vue"></div> #}
            
    {{ include('default/_modal_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags('typeahead') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('form') }}

    <script type="text/javascript">
        $.ajax($.extend({
            url : "{{ path('mailreporting_new') }}",
            type: 'POST',
            success: function(data) {
                $("#mailreporting_vue").html(data);
            }
        }, defaultAjaxOptions()));
    </script>
{% endblock %}
