<div class="text-right">{{ include('commentaire/_form_delete.html.twig') }}</div>
{# {{dump(commentaire)}} #}
{{ include('commentaire/_form.html.twig', {
    form: form,
    path: path('commentaire_edit', {'id': commentaire.id}),
    evolution: commentaire.evolution|default(0),
    dispositif: commentaire.dispositif|default(0),
    button_label: ' Modifier',
}, with_context = false) }}
