{% if not form.vars.valid %}
    <div class="alert alert-danger">
        <i class="fas fa-lg fa-exclamation-triangle"></i>
        Votre saisie comporte des erreurs. Veuillez corriger.
    </div>
{% endif %}

<form name="frm_commentaire" method="post" action="{{ path }}" data-async="true"
      data-callback="{{ path('commentaire_list', {'dispositif_id': dispositif.id|default(0), 'evolution_id': evolution.id|default(0)}) }}" data-list="commentaire_list">

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.contenu) }}
        </div>
    </div>

    {{ form_rest(form) }}
    
    <hr />
    {{ include('default/_modal_form_footer.html.twig') }}
</form>