<strong><i style="font-size: 120%;">Commentaires ( {{ commentaires|length }} )</strong></i><br /><br />
{%  for commentaire in commentaires|reverse %}
    {{ commentaire.contenu }}<br>
    <strong>{{ commentaire.utilisateur }}</strong>, le {{ commentaire.updatedAt|date('d/m/Y \à H:i') }}
    {% if app.user == commentaire.utilisateur  or is_granted('ROLE_ADMIN') %}
        <a id ="retourButton" href="#" data-href="{{ path('commentaire_edit', {'id': commentaire.id}) }}" role="button" data-toggle="modal" data-target="#formModal"
            data-title="Modifier le commentaire" class="btn btn-primary btn-sm"><i
            class="fas fa-pencil-alt" data-toggle="tooltip" title="Modifier le commentaire"></i> Modifier</a><br><br>
    {% else %}
        <br><br>
    {% endif %}
{%  else %}
    <p>Il n'y a aucun commentaire.</p>
{% endfor %}