     <button style="margin-bottom:1em;" class="btn btn-warning btn-sm" onclick="addCommentaire()"><i class="fas fa-plus"></i> Ajouter un commentaire</button><br>
            <div style="display:none;" id="commentaire">
                <h3>Ajouter un commentaire :</h3>
                <div class="row">
                    <div class="col-md-6">
                        {{ include('commentaire/_form.html.twig', {
                            form: form,
                            path: path('commentaire_dis', {'dis_id' : entity.id}),
                            entity: entity,
                            button_label: ' Modifier',
                        }, with_context = false) }}
                    </div>
                </div>
            </div>

            <strong><i style="font-size: 120%;">Commentaires ( {{ commentaires|length }} )</strong></i>
                {%  for values in commentaires %}
                    <p>{{values.contenu}}</p>
                    <p><strong>{{ values.utilisateur }}</strong>, le {{ values.createdAt|date('d/m/Y \à H:i') }}</p>
                {%  else %}
                    <p>Il n'y a aucun commentaire.</p>
                {% endfor %}
            </div>