$enable-shadows: true;
$enable-gradients: true;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import '~bootstrap-select/dist/css/bootstrap-select.css';
//@import '~select2/dist/css/select2.css';
//@import '~select2-bootstrap4-theme/dist/select2-bootstrap4.css';
//@import '~font-awesome-sass/assets/stylesheets/font-awesome.scss';

.navbar a {
  color: black;
}

.custom-file-input:lang(fr) ~ .custom-file-label::after {
  content: "Parcourir";
}

/** MISE EN PAGE **/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 75px; /* Margin bottom by footer height */
}

body > .container {
  padding: 60px 15px 10px;
  background-color: white;
  border-radius: .25rem;
}

blockquote {
  padding: 0.75rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: 1px solid #fff;
  border-left-width: .25rem;
  border-radius: .25rem
}

legend {
  width: auto;
}

label {
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  color: #343A40;
  background-color: #f5f5f5;
  border-top: .05rem solid #e5e5e5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer a, .footer a:visited {
  color: #343A40;
}

.footer a:hover {
  color: #666666;
  text-decoration: underline;
}

.logo-footer {
  width: 30px;
}

/** SURCHARGE BOOTSTRAP-SELECT **/

.bootstrap-select > .btn {
  border: 1px solid #ced4da;
  background-color: #FFFFFF;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
  border: 1px solid #ced4da;
  background-color: #FFFFFF;
  border-bottom: none;
}

/** SURCHARGE DATEPICKER **/

.datepicker {
  padding: 10px;
}

/** SURCHARGE BOOTSTRAP **/

.form-control-label, .col-form-label, .form-group > label {
  font-weight: bold;
}

.custom-control-label {
  font-weight: normal;
}

/** SURCHARGE SELECT2 **/

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
}

.select2-container .select2-selection--single {
  height: 38px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}

/** SURCHARGE TYPEAHEAD **/

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu {
  width: 100% !important;
}

.tt-menu {
  max-height: 600px;
  overflow-y: auto;
}

.tt-highlight {
  color: green;
}

/** NOUVEAUX STYLES **/

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: .25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout + .bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-info h4 {
  color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
  color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

.bd-callout-danger h4 {
  color: #d9534f
}
