<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

Bonjour {{ evolution.srodUtilisateur }},<br /><br />

Une nouvelle évolution a été créée et vous êtes l'heureux(se) élu(e) à en être affecté(e) sur l'application <a href="{{ app_url }}">"{{ app_name }}"</a>.
Vous pouvez la retrouver
<a href={{ url("evolution_show", {'id':evolution.id}) }}><strong>ici</strong></a><br /><br />

Ce message a été envoyé automatiquement. Merci de ne pas répondre.
