<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

Bonjour {{ user }},<br /><br />

L'évolution <i>{{ evolutionStatut.evolution }}</i> est passée au statut {{ evolutionStatut.statut }} de l'applcation <a href="{{ app_url }}">"{{ app_name }}"</a> et vous êtes le(a) référent(e).
Vous pouvez la retrouver
<a href={{ url("evolution_show", {'id':evolutionStatut.evolution.id}) }}> <strong>ici</strong></a><br /><br />

Ce message a été envoyé automatiquement. Merci de ne pas répondre.
