{% apply inline_css %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <style>
        h2 {
            margin: 0 0 0 20px;
        }
        h3, h4 {
            margin: 0 0 0 30px;
        }
        table, p {
            margin: 0 0 0 40px;
        }
    </style>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            <i class="fas fa-lg fa-exclamation-triangle"></i>
            {{ message }}
        </div>
    {% endfor %}

    {% set dispoActif = null %}

Voici votre mail compte-rendu d'un point de synchronisation SROD/DSI.<br /> 
    {% for evolution in evolutions %}
        {% if evolution.dispositif != dispoActif %}
            {% set dispoActif = evolution.dispositif %}
            <h1> {{ evolution.dispositif }} </h1>
        {% endif %}

        <h2> v{{ evolution.version }} - {{ evolution }} </h2>   
        <h3> Synthèse des dates : </h3>

        {% for evoStatut in evolution.evolutionStatuts %}
            <table  class="table table-hover table-sm table-lightdark">
                <thead>
                    <tr>
                        <th>{{ evoStatut.statut }}</th>
                        <th>{{ evoStatut.createdAt|date('d/m/Y') }}</th>
                    </tr>
                </thead>
            </table>
        {% endfor %}

        <h4> Liste des {{ mailreporting.nombreCommentaires }} derniers commentaires : </h4>

        {% set break = false %}
        {% set i = 0 %}

        {% for commentaire in evolution.commentaires|reverse|slice(0, mailreporting.nombreCommentaires) %}
            <p>{{ commentaire }}, envoyé le {{ commentaire.updatedAt|date('d/m/Y \à H:i') }} par {{ commentaire.utilisateur }}</p>
        {% endfor %}

        {% if evolution.commentaires|length == 0 %}
            <p>Il n'y a aucun commentaire associé à cette évolution.</p>
        {% endif %}
    {% endfor %}
        <br /><br />

    Ce message a été envoyé automatiquement. Merci de ne pas répondre.
{% endapply %}
