<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

Bonjour {{ utilisateur }},<br /><br />

Votre compte sur l'application <a href="{{ app_url }}">"{{ app_name }}"</a> a été 
{% if string == "new" %}
    créé
{% elseif string == "edit" %}
    modifié
{% else %}
    supprimé
{% endif %}
le {{ utilisateur.updatedAt|date('d/m/Y \à H:i') }} par {{ editor }}
<br /><br /> 

{% if editor.email != utilisateur.email %}
    Voulez-vous le contacter ? Voici son email : <br /><br />

    {{ editor.email }}<br /><br />
{% endif %}

Ce message a été envoyé automatiquement. Merci de ne pas répondre.
